.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    color: white;
    padding: 0 16px;
    font-size: 24px;
    font-weight: bold;
    height: 56px;
}

.logo {
    display: inline;
    font-family: 'Walter Turncoat', cursive;
}

@media only screen and (max-width:480px) {
    .logo {
        display: none;
    }
}
