///
/// All styles for the Home page
///
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    height: 100%;
}

button {
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    font-weight: 500;
    color: black;
    background-color: white;
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
}

button:active {
    background-color: #FF5722;
    color: white;
}

.bigContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.myWindow {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
