<div class="bigContainer">
<my-header (buy)="buyClicked = $event"></my-header>
<my-buy *ngIf="buyClicked" [(showMe)]="buyClicked"></my-buy>
<my-window class="myWindow"></my-window>
<my-footer></my-footer>
</div>
