<a *ngIf="thing" class="window" href="{{thing.url}}">
    <span *ngIf="thingType.TEXT === thing.type" class="u-textBreak u-textCenter txt">{{thing.message}}</span>
    <img *ngIf="thingType.IMAGE === thing.type" src="{{thing.image}}">
</a>
